SECRET_KEY=change-this-secret-key
DEBUG=True
MPESA_ENV=sandbox
MPESA_CONSUMER_KEY=
MPESA_CONSUMER_SECRET=
MPESA_SHORTCODE=174379
MPESA_PASSKEY=
MPESA_CALLBACK_URL=https://your-ngrok-url.ngrok-free.app/api/payments/mpesa-callback/
